<div class="container">
  
  <div class="profile-card mt-5">
    <div class="profile-content w-100 rick">
      <% if @rick.photo.attached? %>
        <%= cl_image_tag @rick.photo.key, class: 'profilepic mt-2' %>
      <% else %>
        <%= image_tag 'avatar_rick.png', class: 'profilepic mt-2' %>
      <% end %>
      <h3 class="text-center mb-4 mt-3"><%= @rick.username %></h3>
      <p class="text-justify"><%= @rick.bio %></p>
    <p class="text-center"><strong>Morties sold: <%= @morties_sold.count %></strong></p>
    </div>
  </div>
 
</div>
<div class="container d-flex justify-content-center mt-4 p-2">
  <%= link_to 'Back', :back, class:'sciFi-button mr-2' %>
  <% if current_rick == @rick %>
    <%= link_to "Edit", edit_profile_path(@rick), class:'sciFi-button btn--yellow' %>
  <% end %>
</div>
