<div class="row justify-content-center p-4">
  <div class="col-12 col-md-6 col-lg-4">
    <h2 class="mb-4">New Morty</h2>

    <div class="form">
    <%= simple_form_for(@morty) do |f| %>    
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :rarity, collection: 1..5 %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    </div>
    <%= render 'form', morty: @morty %>
    <%= link_to "Back", morties_path, class:'btn btn-primary' %> 
  </div>
</div>
