<div class="container">

  <div class="profile-card min-height mt-5">

    <%= link_to profile_path(@morty.seller_rick), class:'link-seller-info' do %>
      <div class="seller-info">
        <% if @morty.seller_rick.photo.attached? %>
          <%= cl_image_tag @morty.seller_rick.photo.key, class: 'card-trip-user avatar', crop: :fill %>
        <% else %>
          <%= image_tag 'avatar_rick.png', class: 'card-trip-user avatar' %>
        <% end %>
        <p>Seller</p>
      </div>
    <% end %>
    <div class="info">
      <h3><%= @morty.title %></h3>
      <span class="mr-2">฿ <%= @morty.price %></span>
      <div class="rarity-icons">
      <% @morty.rarity.times do %>
        <i class="far fa-gem rarity-icon-show"></i>
      <% end %>
      </div>
      <p class="mt-3 mb-0"><%= @morty.description %></p>
    </div>
    <div class="pic">
      <% if @morty.photo.attached? %>
        <%= cl_image_tag @morty.photo.key, crop: :fill, class: 'show-image' %>
      <% else %>
        <%= image_tag 'Morty3.png', class: 'show-image' %>
      <% end %>
  </div>
    
  </div>
  <div class="container d-flex justify-content-center mt-4 p-2">
   <% if @morty.seller_rick != current_rick && @morty.exchange.blank?  %>
      <% unless rick_signed_in? %>
        <%= link_to "Buy Morty!", new_morty_exchange_path(@morty), class:'sciFi-button btn--yellow buy' %>
      <% else %>
        <%= link_to "Buy Morty!", '#', class:'sciFi-button btn--yellow buy', id: 'button-purchase' %>
      <% end %>
    <% end %>
  </div>
  <div class="container d-flex justify-content-center p-2">
    <%= link_to "Home", morties_path, class:'sciFi-button mr-2' %>
    <% if @morty.seller_rick == current_rick && rick_signed_in? %>

      <%= link_to "Edit", edit_morty_path(@morty), class:'mr-2 sciFi-button btn--red' %>

      <%= link_to "Remove", @morty, method: :delete, data: { confirm: 'Are you sure, Rick?' }, class:'sciFi-button btn--red' %>
    <% end %>
  </div>
  <% if rick_signed_in? %>
    <div class="profile-card mt-4 display_none text-center" id='purchase-stimulus'>
      <h5 class="p-2 mt-2">Yes, buy <%= @morty.title %>, <%= current_rick.username %>!</h5>
    </div>
    <div class="profile-card mt-4 display_none" id="purchase-card">
      <%= simple_form_for [@morty, @exchange] do |f| %>
        <%= f.input :payment, as: :radio_buttons, collection: ['Blemflarck', 'Flurbo', 'Crystal'], wrapper: :vertical_collection_inline %>
        <h6 class="mb-2">Leave a message to the seller!</h6>
        <%= f.input :review, input_html: { rows: 3, cols: 45 } %>
        <%= f.button :submit, 'Confirm', class: 'sciFi-button' %>
      <% end %>
    </div>
  </div>
<% end %>
