<div class="container">
  <div class="d-flex justify-content-center">
    <div class="profile-card mt-5">
      <h2>Yes, buy <%= @morty.title %>, <%= current_rick.username %>!</h2>
      <h3>Leave a message to the seller!</h3>
      <%= simple_form_for [@morty, @exchange] do |f| %>
        <%= f.input :review %>
        <%= f.button :submit, 'Confirm Purchase', class: 'btn btn-primary' %>
      <% end %>
      <%# Alterar o morty.seller_rick ?? Deletar o Morty ?? %>
    </div>
  </div>
</div>
