<div class="container">
  <div class="d-flex justify-content-center">
    <div class="profile-card mt-5 p-4">
      <h4 class="mb-4">Purchase Information</h4>
      <h6> Morty: <%= @exchange.morty.title %></h6>
      <h6> Buyer: <%= @exchange.rick.username %></h6>
      <h6> Seller: <%= @exchange.morty.seller_rick.username %></h6>
      <h6> Payment: <%= @exchange.payment %></h6>
      <% if @exchange.review.present? %>
        <p> Review: <%= @exchange.review %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center mt-4 p-2">
  <%= link_to "Home", morties_path, class:'sciFi-button mr-2' %>
</div>
