<!DOCTYPE html>
<html>
  <head>
    <title>MortyMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
      <div class="masthead" id="animate-area"></div>
      <%= render "shared/navbar" %>
      <%= yield %>
      <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %><span id="close">&times</span></p>
      <% elsif flash[:notice] %>
      <p class="alert"><%= flash[:notice] %><span id="close">&times</span></p>
      <% end %>
  </body>
</html>
